<template>
    <th title="Click to sort" :class="labelClass" :style="styles" v-if="visible" v-on:click="onSort($event)">
        <template v-if="type==='checkbox'">
            <input name="mix-table-checkbox-all" type="checkbox" v-on:change="onSelectedAll($event)" />
        </template>
        <template v-else>
            <div class="mix-table-column">
                <span><slot>{{ label || dataField }}</slot></span>
                <span class="mix-table-sort-arrow" v-show="sorting"></span>
            </div>
        </template>
    </th>
</template>

<script>
    export default {

        props: {

            dataField: {
                type: String,
                required: true
            },

            label: {
                type: String
            },

            width: {
                type: [Number, String]
            },

            format: {
                type: Function
            },

            visible: {
                type: Boolean,
                default: true
            },

            type: {
                type: String,
                default: 'text'
            },

            labelClass: {
                type: String
            },

            dataClass: {
                type: String
            },

            target: { type: String },

            sortable: {
                type: Boolean,
                default: true
            },

            // groupable: {
            //     type: Boolean,
            //     default: true
            // }

        },

        data() {
            return {
                sortingDirection: 1
            };
        },

        computed: {

            sorting: {
                get() {
                    return (this.sortable && this.$parent.isSorting(this.dataField));
                }
            },


            styles() {
                return {
                    width: isNaN(this.width) ? this.width : this.width + '%'
                };
            },

            sortArrowClass() {
                let direction = sortClassMap[this.sortingDirection];
                return "datatable-sort-arrow-" + direction;
            },

            // template() {
            //     return this.$parent.$scopedSlots[this.id];
            // }

        },

        methods: {

            sort() {
                if (this.sorting) {
                    this.sortingDirection *= -1;
                    return;
                }

                this.sorting = true;
            },
            onSort(e) {
                if (this.sortable) {
                    this.$parent.sortBy(this.dataField, e);
                }
            },

            onSelectedAll(e) {

                this.$parent.onSelectedAll(e.target.checked);
            },

            renderData(value, row, index) {
                if (!this.format) {
                    return value;
                }

                return this.format(value, row, index);
            }

        },

        created() {

            this.$parent.addColumn(this);
        },

        destroyed() {
            this.$parent.removeColumn(this);
        }

    }

</script>