<template>
    <div class="mix-table-container">
        <slot name="mix-table-toolbar"></slot>

        <table :class="['mix-table', css]">
            <thead>
                <tr>
                    <slot>
                    </slot>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(row, index) in rows">
                    <template v-for="column in columns">
                        <template v-if="column.visible">

                            <td v-if="column.type === 'sequence'" :class="['mix-table-cell', column.dataClass]" v-html="offset + index + 1">
                            </td>
                            <td v-else-if="column.type === 'checkbox'" :class="['mix-table-cell', column.dataClass]">
                                <input name="mix-table-checkbox" type="checkbox" :value="row" v-on:change="onSelectedItemChange(row)" />
                            </td>
                            <td v-else-if="column.type === 'image'" :class="['mix-table-cell', column.dataClass]">
                                <img :src="row[column.dataField]" />
                            </td>
                            <td v-else-if="column.type === 'slot'" :class="['mix-table-cell', column.dataClass]">
                                <slot :name="column.target" :value="row[column.dataField]" :row="row" :column="column" :index="index"></slot>
                            </td>
                            <td v-else-if="column.type === 'component'" :class="['mix-table-cell', column.dataClass]">
                                <component :is="column.target" :value="row[column.dataField]" :row="row" :column="column" :index="index"></component>
                            </td>
                            <td v-else :class="['mix-table-cell', column.dataClass]" v-html="column.renderData(row[column.dataField], row, index)">
                            </td>
                        </template>

                    </template>

                </tr>
            </tbody>
        </table>

        <div class="mix-table-footer clearfix">
            <slot name="mix-table-pagination" v-if="totalPages>1">
                <ul class="pagination pagination-gap">
                    <li :class="['page-item', page==1?'disabled':'']">
                        <a class="page-link" href="javascript:void(0)" aria-label="First" v-on:click="go(1)">
                            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                            <span class="sr-only">(empty)</span>
                        </a>
                    </li>

                    <li :class="['page-item', page==1?'disabled':'']">
                        <a class="page-link" href="javascript:void(0)" aria-label="Previous" v-on:click="prev">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <span class="sr-only">(empty)</span>
                        </a>
                    </li>
                    <template v-for="i in pages">
                        <li v-if="i==0" class="disabled page-item">
                            <a class="page-link" href="javascript:void(0)">...</a>
                        </li>
                        <li v-else :class="['page-item', page==i?'active':'']" v-on:click="go(i)">
                            <a class="page-link" href="javascript:void(0)">{{i}}</a>
                        </li>
                    </template>


                    <li :class="['page-item', page==totalPages?'disabled':'']" v-on:click="next">
                        <a class="page-link" href="javascript:void(0)" aria-label="Next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <span class="sr-only">(empty)</span>
                        </a>
                    </li>
                    <li :class="['page-item', page==totalPages?'disabled':'']" v-on:click="go(totalPages)">
                        <a class="page-link" href="javascript:void(0)" aria-label="Last">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            <span class="sr-only">(empty)</span>
                        </a>
                    </li>
                </ul>

            </slot>

        </div>

    </div>
</template>

<script>
    import Vue from 'vue'
    import axios from 'axios'

    export default {

        props: {

            data: {
                type: Object,
                default: function () {
                    return {
                        rows: [],
                        total: 0
                    };
                }
            },

            css: {
                type: String,
                default: 'table table-hover table-bordered'
            },

            editable: {
                type: Boolean,
                default: false
            },


            trackBy: {
                type: String,
                default: '_id'
            },

            url: {
                type: String
            },

            method: {
                type: String,
                default: 'POST'
            },

            limit: {
                type: Number,
                default: 18
            },
            // total: {
            //     type: Number,
            //     default: 0
            // },

            sortOrder: {
                type: Array,
                default: () => []
            },
            multiSort: {
                type: Boolean,
                default: false
            },

        },

        data() {
            return {
                // value: [],
                columns: [],
                selectedItems: [],
                keyword: '',
                page: 1,
                totalPages: 0,
                offset: 0,
                pages: [],
                params: {},
                sortOrder: { crt: 1, stt: -1 }
            };
        },

        watch: {
            data() {
                // if (this.isArray(this.value)) {
                //     this.rows = this.value;
                //     this.total = this.value.length;
                // } else {
                //     this.rows = this.value.rows;
                //     this.total = this.value.total;
                // }

                this.updatePagination();
            },
            columns: function () {
                // this.displayCols = [];
                // var self = this;
                // this.columns.forEach(function(column) {
                //     var obj = {};
                //     obj.title = column.title;
                //     obj.visible = true;
                //     self.displayCols.push(obj);
                // });
                // this.setSortOrders();
            },

            // showFilter: function () {
            //     this.filterKey = "";
            // },
            // showColumnPicker: function () {
            //     this.columnMenuOpen = false;
            //     this.displayCols.forEach(function (column) {
            //         column.visible = true;
            //     });
            // }
        },





        methods: {

            ajax(method, url, playload) {

                switch (method.toLowerCase()) {
                    case 'get':
                        return axios.get(url, { params: playload });
                        break;
                    case 'post':
                    default:
                        return axios.post(url, playload);
                        break;

                }

            },
            isObject(value) {
                var type = typeof value;
                return value != null && (type == 'object' || type == 'function');
            },
            isArray(val) {
                return Array.isArray(val);
            },

            isEmpty: function (s) {
                return s === null || s === undefined ? true : /^[\s\xa0]*$/.test(s);
            },

            isSorting: function (f) {
                return !this.isEmpty(this.sortOrder[f]);
            },

            fireEvent: function (name, args) {
                this.$emit('mixtable:' + name, args)
            },
            setParam: function (name, value) {
                this.params[name] = value;
            },
            setParams: function (params) {
                for (let x in params) {
                    this.params[x] = params[x];
                }
            },
            search(kwd) {
                this.keyword = kwd.trim();
                this.page = 1;
                this.fetch();
            },

            sortBy(field, event) {

                // this.multiSort && event[key]

            },

            getAllSelections() {
                return this.selectedItems;
            },
            getParams() {
                this.calcParams();
                let qs = this.params;
                //params['sort'] = this.getSortParam()
                qs['page'] = this.page;
                qs['offset'] = this.offset;
                qs['pageSize'] = this.pageSize;
                qs['limit'] = this.limit;
                qs['search'] = this.keyword;
                qs['sort'] = this.sortOrder;
                return qs;
            },
            updatePagination() {

                var total = this.totalPages = Math.ceil(this.total / this.limit);
                var pages = [];
                var span = 3;
                var min = this.page - span;
                var max = this.page + span;
                var isMore = false

                if (max > total)
                    min -= max - total;
                else if (min < 1)
                    max += 1 - min;

                for (var i = 1; i <= total; i++) {
                    //if (i <= 2 || i > total - 2 || (min <= i && i <= max)) {
                    if (min <= i && i <= max) {
                        pages.push(i);
                        isMore = true;
                    } else if (isMore) {
                        pages.push(0);
                        isMore = false;
                    }
                }

                this.pages = pages;

            },
            calcParams() {
                this.pageSize = this.limit;
                this.offset = (this.page - 1) * this.limit;

            },
            fetch: function () {

                let params = this.getParams();
                var _this = this;
                this.fireEvent('fetch', params);
                if (!this.isEmpty(this.url)) {
                    this.ajax(this.method, this.url, params).then(res => {                       
                        _this.data = res.data;                     

                    }).catch(function (error) {
                        console.log(error);
                        _this.fireEvent('error', error);
                    });
                }              

            },

            refresh() {
                this.fetch();
            },

            reload() {
                this.fetch();
            },

            go: function (i) {
                this.page = i;
                this.fetch();
            },
            next: function () {
                this.page = this.page + 1;
                this.fetch();
            },
            prev: function () {
                this.page = this.page - 1;
                this.fetch();
            },

            onSelectedItemChange(item) {
                var index = this.selectedItems.indexOf(item);
                if (index > -1) {
                    this.selectedItems.splice(index, 1);
                } else {
                    this.selectedItems.push(item);
                }
            },
            // rowSelected(item) {
            //     return this.selectedItems.indexOf(item) > -1;
            // },
            onSelectedAll(state) {
                this.selectedItems = state ? this.data.rows : [];
            },

            toggleColumn: function (column) {
                column.visible = !column.visible;
            },


            addColumn(column) {
                this.columns.push(column);
            },

            removeColumn(column) {
                let index = this.columns.indexOf(column);
                this.columns.splice(index, 1);
            }

        },

        created() {
            this.fetch();
        },

        computed: {

            // sortingColumn() {
            //     return this.columns.find(column => column.id === this.sortingId);
            // },
            //
            // groupingColumns() {
            //     return this.groupingColumnIds.map(columnId => {
            //         return this.columns.find(column => column.id === columnId);
            //     });
            // },
            //
            // tableClasses() {
            //     return {
            //         "datatable-editable": this.editable,
            //         "table-fixed": this.fixed
            //     };
            // },
            //
            // groupableColumns() {
            //     return this.columns.filter(column => column.groupable);
            // },

            rows() {
                return this.isArray(this.data) ? this.data : this.data.rows || this.data.docs;
            },
            total() {
                return this.isArray(this.data) ? this.data.length : this.data.total
            },


        }


    }

</script>