<template>
    <form :class="['mix-table-toolbar form-inline', css]" aria-label="Toolbar with button groups">
        <slot></slot>
        <template v-if="searchable">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" v-on:keyup="search($event)" v-model="keyword" placeholder="Search..." aria-describedby="mix-table-search-group-addon">
                    <span class="input-group-append" id="mix-table-search-group-addon">
                        <button class="btn btn-outline-primary" type="button" v-on:click="this.$parent.fetch">
                            <i :class="icons.search" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            </div>
        </template>
        <div class="form-group">
            <div class="btn-group" role="group" aria-label="First group">

                <button type="button" class="btn btn-outline-secondary" v-if="refreshable" v-on:click="this.$parent.refresh">
                    <i :class="icons.refresh" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-outline-secondary" v-if="toggleable">
                    <i :class="icons.toggle" aria-hidden="true"></i>
                </button>

                <!-- <div class="btn-group">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuColumns" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuColumns">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div> -->
            </div>

            <slot name="mix-table-toolbar-custom"></slot>

            <!-- <div class="btn-group">
            <button type="button" class="btn btn-outline-secondary">
            <i class="fa fa-flash"></i>
          </button>
            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>

        </div> -->

        </div>

    </form>

</template>

<script>
    export default {
        name: "mix-table-toolbar",
        props: {

            css: {
                type: String,
                default: 'mb-10 text-right'
            },

            searchable: {
                type: Boolean,
                default: true
            },
            refreshable: {
                type: Boolean,
                default: true
            },
            toggleable: {
                type: Boolean,
                default: false
            },

            icons: {
                type: Object,
                default: function () {
                    return {
                        search: 'fas fa-search',
                        refresh: 'fas fa-sync',
                        action: 'fas fa-flash',
                        toggle: 'fas fa-tasks',
                        coloums: 'fas fa-ellipsis-v'
                    }

                }
            }


        },

        methods: {
            search: function (event) {
                var _this = this;
                if ([13, 37, 38, 39, 40].indexOf(event.keyCode) > -1) {
                    return;
                }
                clearTimeout(this.searchTimeout); // doesn't matter if it's 0
                this.searchTimeout = setTimeout(function () {
                    _this.$parent.search(_this.keyword);
                }, 500);
            },
        },

        data() {
            return {
                keyword: ''
            }
        }

    }
</script>